/* ******* :: INDEX OF CSS :: *******
:: 1.0 WEB FONTS
:: 2.0 IMPORT ALL CSS
:: 3.0 GLOBAL CSS
:: 4.0 COMMON CSS
:: 5.0 HEADER AREA 
:: 6.0 WELCOME AREA 
:: 7.0 BRANDING AREA
:: 8.0 ABOUT AREA

****************************** */


/* ******************************
:: 1.0 WEB FONTS
****************************** */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

/* font-family: 'Montserrat', sans-serif; */


/* ******************************
:: 2.0 IMPORT ALL CSS
****************************** */

@import url(bootstrap.min.css);
@import url(all.min.css);
@import url(animate.min.css);
@import url(aos.css);
@import url(owl.carousel.min.css);
@import url(jquery.fancybox.min.css);

/* ******************************
:: 3.0 GLOBAL CSS
****************************** */

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #2d2d2d;
    font-family: 'Montserrat', sans-serif;
}

.main {
    overflow: hidden;
}

section,
.section {
    position: relative;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.container-fluid {
    padding: 0 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    color: #242424;
    margin-bottom: 0;
}

h1 {
    font-size: 4em;
    font-weight: 300;
    line-height: 1.2;
}

h2 {
    font-size: 40px;
    line-height: 1.2;
}

h3 {
    font-size: 20px;
    line-height: 1.2;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

p {
    font-size: 17px;
    line-height: 34px;
    color: #343434;
    margin-bottom: 0;
    font-weight: 300;
}

a {
    color: #000;
    transition: all .3s ease;
}

a:hover {
    color: #0056b3;
    transition: ease all 0.3s;
    opacity: 100%;
}

a,
a:hover,
a:focus,
.btn:focus,
button {
    border-color: inherit;
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

ol li,
ul li {
    list-style: none;
}

img {
    height: auto;
    max-width: 100%;
}

.mr-50 {
    margin-right: 50px;
}

.ml-50 {
    margin-left: 50px;
}


/* ******************************
:: 4.0 COMMON CSS
****************************** */

section {
    position: relative;
}

.fw-3 {
    font-weight: 300;
}

.fw-4 {
    font-weight: 400;
}

.fw-5 {
    font-weight: 500;
}

.fw-6 {
    font-weight: 600;
}

.fw-7 {
    font-weight: 700;
}

.op-5 {
    opacity: 0.5;
}

.avatar-sm {
    height: 3rem;
    width: 3rem;
}

.avatar-md {
    height: 4rem;
    width: 4rem;
}

.avatar-lg {
    height: 5rem;
    width: 5rem;
}

.h-100vh {
    height: 100vh;
}

.h-90vh {
    height: 90vh;
}

.pos-abs-top-right {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    bottom: auto;
}

.radius-100 {
    border-radius: 100px !important;
}

.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.dsp-tc {
    display: table-cell;
    vertical-align: middle;
}

.owl-carousel .owl-item img {
    width: 100%;
    height: 100%;
}

.owl-prev:focus,
.owl-next:focus {
    outline: none;
}


/*SECTION PADDING*/

.pt_0 {
    padding-top: 0;
}

.ptb_50 {
    padding: 50px 0;
}

.ptb_100 {
    padding: 100px 0;
}

.ptb_150 {
    padding: 150px 0;
}

.ptb_180 {
    padding: 180px 0;
}


/*BUTTONS*/

.btn {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    line-height: 1;
    text-align: center;
    padding: 14px 30px;
    border: 0 none;
    border-radius: 100px;
    outline: 0 none;
    position: relative;
    z-index: 1;
}

.btn:hover,
.btn:focus,
.btn:active {
    color: #fff;
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.btn.btn-bordered {
    background: transparent none repeat scroll 0 0;
    color: #444;
}

.btn.btn-bordered:hover,
.btn.btn-bordered:focus {
    color: #fff;
}

.btn.btn-bordered:before,
.btn.btn-bordered-white:after {
    position: absolute;
    content: "";
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    top: -2px;
    left: -2px;
    border-radius: 100px;
}

.btn.btn-bordered:before {
    z-index: -2;
}

.btn.btn-bordered:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 100px;
    background: #fff none repeat scroll 0 0;
    z-index: -1;
}

.btn.btn-bordered:hover:after,
.btn.btn-bordered:focus:after {
    opacity: 0;
}

.btn.btn-bordered-white {
    background: transparent none repeat scroll 0 0;
    border: 2px solid #fff;
}

.btn.btn-bordered-white:hover,
.btn.btn-bordered-white:focus {
    border-color: transparent;
    outline: 0 none;
}

.btn.btn-bordered-white:after {
    opacity: 0;
    z-index: -1;
}

.btn.btn-bordered-white:hover:after,
.btn.btn-bordered-white:focus:after {
    opacity: 1;
}

.nav-common .owl-carousel .owl-nav button span {
    font-size: 100px !important;
    font-weight: 400;
}

.nav-common .owl-carousel .owl-nav button span {
    color: #9a9a9a;
}

.nav-common .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    right: 0;
}

.nav-common .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    left: 0;
}


/* ******************************
:: 7.0 HEADER AREA CSS
****************************** */

.hero-wrapper .svg-clipped {
    -webkit-clip-path: url(#svgPath);
    clip-path: url(#svgPath);
    height: 100%;
    z-index: -1;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 999;
    -webkit-transition: .3s;
    transition: .3s;
    /* background: transparent; */
    padding: 1rem;
    background-color: #fff;
}

.navbar .navbar-nav .nav-link {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    -webkit-transition: .3s;
    transition: .3s;
}

.navbar.navbar-light .navbar-nav .nav-link {
    color: #7e8085;
}

.navbar.navbar-light .navbar-nav .nav-link:hover,
.navbar.navbar-light .navbar-nav .nav-link:focus,
.navbar.navbar-light .navbar-nav .nav-link.active,
.navbar.navbar-light .navbar-nav .nav-link.current-menu-item {
    color: #2c2e30;
}

.navbar .navbar-brand-sticky {
    display: none;
}

.navbar-sticky {
    -webkit-transition: none;
    transition: none;
}

.navbar-sticky-transitioned {
    -webkit-transition: .3s;
    transition: .3s;
}

.navbar-sticky-moved-up {
    position: fixed;
    top: 0;
    background: #e4e8e9;
    margin-top: -250px;
}

[data-theme=dark] .navbar-sticky-moved-up {
    background: #01081f;
    -webkit-box-shadow: 0 4px 25px rgba(30, 39, 69, 0.3), 0 1px 0px rgba(30, 39, 69, 0.4);
    box-shadow: 0 4px 25px rgba(30, 39, 69, 0.3), 0 1px 0px rgba(30, 39, 69, 0.4);
}

.navbar-sticky-on {
    margin-top: 0;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.navbar-sticky-on .navbar-brand-regular {
    display: none;
}

.navbar-sticky-on .navbar-brand-sticky {
    display: inline;
    max-width: 130px !important;
    max-width: 80px !important;
}


/*NAVBAR DARK*/

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .btn-outline {
    color: #fff;
}

.navbar-dark.navbar-sticky-on .navbar-nav .nav-link {
    color: #7e8085;
}

[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link {
    color: #e7eaee;
}

.navbar-dark.navbar-sticky-on .navbar-nav .nav-link:hover,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link:focus,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link.active,
.navbar-dark.navbar-sticky-on .navbar-nav .nav-link.current-menu-item {
    color: #2c2e30;
}

[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link:hover,
[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link:focus,
[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link.active,
[data-theme=dark] .navbar-dark.navbar-sticky-on .navbar-nav .nav-link.current-menu-item {
    color: #D2D5DA;
}

.navbar,
.navbar-brand {
    padding-top: 0;
    padding-bottom: 5px;
}

.navbar-dark .navbar-brand {
    padding-top: 15px;
}

.navbar-dark .navbar-brand img {
    max-width: none;
    max-width: 50px;
}

.navbar-sticky-on .navbar-brand img {
    max-width: 50px !important;
}

.adobe-crative-logo {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 50px;
}

.navbar-sticky-on .adobe-crative-logo {
    padding-top: 25px;
}

.navbar-sticky-on .adobe-crative-logo img {
    width: 200px;
}

.navbar-brand-sticky {
    width: 180px;
}

.navbar-brand:hover {
    opacity: 100%;
}

.navbar-sticky-on .navbar-brand {
    padding-top: 10px;
}

.navbar-brand img {
    width: 100px;
}


/* ******************************
:: 8.0 WELCOME AREA CSS
****************************** */

.welcome-area {
    height: auto;
    background-image: url(../img/banner/banner.jpg);
    height: 773px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-top: 104px;
    margin-top: 55px;
    height: 550px;
}

.welcome-form {
    background-color: #fff;
    position: relative;
    width: 500px;
    padding: 30px 0;
    width: 400px;
}

.banner-img {
    position: relative;
}

.form-title h2 {
    color: #000;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.2;
    margin-bottom: 20px;
    font-size: 25px;
}

.form-title p {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 30px;
}

.welcome-form form .form-group {
    margin-bottom: 20px;
}

.welcome-form form .form-group-btn {
    margin: 35px 0 0;
    margin: 25px 0 0;
}

.welcome-form .form-group input,
.welcome-form .form-group select {
    background: #fff;
    color: #000;
    font-weight: 500;
    padding: 0 15px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    height: 60px;
    margin-bottom: 10px;
    -webkit-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
    font-size: 18px;
    /* font-family: 'Karla', sans-serif; */
    border: 1px solid #000;
    border-radius: 6px;
    height: 44px;
    font-size: 16px;
}

.welcome-form .form-group input::-webkit-input-placeholder,
.welcome-form .form-group textarea::-webkit-input-placeholder {
    color: rgb(221, 201, 201);
    color: #000;
}

.welcome-form .form-group input:-ms-input-placeholder,
.welcome-form .form-group textarea:-ms-input-placeholder {
    color: rgb(221, 201, 201);
    color: #000;
}

.welcome-form .form-group input::placeholder,
.welcome-form .form-group textarea::placeholder {
    color: rgb(221, 201, 201);
    color: #000;
}

.welcome-form input:focus,
.welcome-form textarea:focus,
.welcome-form select:focus {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #000;
    color: #000;
    background: transparent;
}

.welcome-form .form-group input[type="submit"] {
    height: 60px;
    padding: 12px 15px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    /* margin-top: 25px; 
    -webkit-box-shadow: 0 0 12px rgb(160 52 140 / 60%);
    box-shadow: 0 0 12px rgb(160 52 140 / 60%);*/
    border-radius: 8px;
    border: none;
    height: 44px;
    font-size: 16px;
}

.welcome-form .form-group label {
    color: #d1d1d1;
    font-size: 18px;
}


/* .welcome-form .form-group select {
    color: #d1d1d1;
} */

.welcome-form .form-group select option {
    color: #000;
}

.welcome-form .welcome-thumb {
    margin-bottom: 60px;
}

.navbar-expand-lg>.nav-container {
    justify-content: start;
}

.mobile-view-img {
    display: none;
}

.top-call a,
.top-mail a {
    color: #000;
    font-weight: 500;
    font-size: 15px;
}

.top-call a svg,
.top-mail a svg {
    color: #333;
    font-weight: 400;
}

.top-call a:hover,
.top-mail a:hover {
    color: #f16e03;
}

.banner-head h1 {
    color: #fff;
    font-size: 38px;
    font-weight: 500;
    position: absolute;
    max-width: 770px;
    text-align: center;
    line-height: 60px;
    font-size: 26px;
    line-height: 42px;
    background: #343a40c9;
    padding: 5px 15px;
    top: 40%;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    margin: 0 20px;
    left: -8px;
    text-align: left;
}


/* ******************************
::  POPUP AREA 
****************************** */

.modal-dialog {
    margin-top: 100px;
    max-width: 694px !important;
    z-index: 99999;
}

.order-model .modal-dialog {
    max-width: 894px !important;
}

.modal.fade .modal-dialog {
    top: 40%;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.modal-content {
    border-radius: 0px;
    overflow: hidden;
    padding-bottom: 25px;
}

.modal-header {
    border-bottom: none;
}

.download-close {
    float: right;
    background: #f16e03;
    border-radius: 45px;
    border: 1px solid transparent;
    width: 46px;
    height: 46px;
    z-index: 99999;
    position: absolute;
    right: -6px;
    top: -8px;
    padding: 2px 0;
    transition: all .3s ease;
}

.download-close:hover {
    background: #443640;
}

.download-close span {
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    line-height: 45px;
    padding: 5px 16px;
}

#letter5 {
    text-align: center;
}

.letter_inner .heading {
    margin-bottom: 0px;
}

.modal-content #letter5 input[type="submit"] {
    font-size: 18px;
    font-weight: 600;
    background-color: #322d2d;
    color: #fff !important;
    border: none;
    height: 55px;
}

.heading h2 {
    font-size: 25px;
    line-height: 24px;
    color: #443640;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 20px;
    margin-bottom: 38px;
    position: relative;
    letter-spacing: 1.5px;
}

.heading h2:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 240px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background: linear-gradient(to right, #042f4c 0%, transparent 100%);
    z-index: 99;
}

.pp-left {
    background: url("../img/popup-bg.jpg");
    height: 496px;
    background-position-x: 5%;
    background-size: contain;
    background-position: revert;
    position: relative;
}

.pp-left::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #000;
}

#letter6 .tab-content,
#letter5 .tab-content {
    padding: 0 30px;
}

.order-model form {
    display: block;
}

.order-model label {
    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
    color: #999;
    line-height: 24px;
    position: absolute;
    left: 34px;
    top: -12px;
    background: #fff;
    padding: 0 8px;
    z-index: 99;
}

#letter5 select,
#letter5 input {
    margin-bottom: 15px;
    position: relative;
    color: #443640;
    resize: none;
    font-weight: 300;
    border: 0.5px solid #ccc;
    font-size: 14px;
    font-family: 'Lexend Deca', sans-serif;
    height: 41px;
    width: 100%;
    font-size: 16px;
    padding: 0 20px;
    border-radius: 3px;
    z-index: 9;
    box-shadow: none;
    cursor: pointer;
}

#letter5 input[type="submit"] {
    font-size: 18px;
    font-weight: 600;
}

#letter5 input:focus {
    outline: none !important;
    border: 0.5px solid #000;
    color: #443640;
}

.wrap {
    overflow: hidden;
    position: relative;
}

.order-model .datepicker {
    position: relative;
}

.popup-btn a {
    background: #ec1c24;
    color: #fff;
    padding: 18px 72px;
    border-radius: 100px;
    transition: all .3s;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.popup-btn a:hover {
    background-color: #ec1c24;
    color: #fff;
}

.popup-btn {
    margin-top: 40px;
}

.modal.fade .modal-dialog {
    display: flex;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.popup-img-main {
    background-color: #2f9331;
}

.popup-img img {
    width: 280px;
}

.model-project-details .form-group input::-webkit-input-placeholder,
.model-project-details .form-group textarea::-webkit-input-placeholder {
    color: #383838;
}

.model-project-details .form-group input:-ms-input-placeholder,
.model-project-details .form-group textarea:-ms-input-placeholder {
    color: #383838;
}

.model-project-details .form-group input::placeholder,
.model-project-details .form-group textarea::placeholder {
    color: #383838;
}

.model-project-details input:focus,
.model-project-details textarea:focus,
.model-project-details select:focus {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ec1c24;
    color: #fff;
    background: transparent;
}

.popupleft-content {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 50px;
}

.popupleft-content p {
    /* text-shadow: 1px 2px 1px #042f4c; */
    color: #fff;
    font-weight: 400;
    font-size: 20px;
}

.popupleft-content h3 {
    /* text-shadow: 1px 4px 1px #042f4c; */
    font-weight: 500;
    color: #fff;
    font-size: 22px;
    margin: 10px 0;
    text-transform: uppercase;
}

.popupleft-content h3 span {
    font-weight: 800;
    font-size: 30px;
}

#letter5 select,
#letter5 input {
    color: #000;
}

.modal-content input {
    color: #443640 !important;
}

.cont_link_box {
    z-index: 100;
    position: fixed;
    right: -10px;
    top: 100%;
    transform: translateY(-50%);
    width: 50px;
    display: inline-block;
}

.vertical_btn {
    position: fixed;
    bottom: 50%;
    right: -48px;
    padding: 10px 25px 7px;
    border-radius: 4px;
    background: #322d2d;
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #fff;
    z-index: 10;
    text-transform: uppercase;
    transform: rotate(-90deg);
    letter-spacing: 3px;
}

.vertical_btn:hover {
    color: #f16e03;
}


/* ******************************
:: 0.0 BRANDING AREA CSS
****************************** */

.branding-area {
    padding: 80px 0 10px;
}

.brand-head h1 {
    color: #495057;
    font-weight: 500;
    font-size: 30px;
    line-height: 50px;
    margin-bottom: 60px;
    max-width: 1050px;
}

.brand-head h1 span {
    font-weight: 700;
    color: #000;
}

.brand-box {
    margin-bottom: 30px;
    min-height: 183px;
    padding-right: 30px;
    min-height: 150px;
}

.brand-box .servIcon {
    height: 80px;
    color: #000;
    height: 60px;
}

.brand-box .text h3 {
    color: #000;
    font-weight: 500;
    /* text-transform: uppercase; */
    font-size: 20px;
    margin: 20px 0;
    font-size: 16px;
}

.brand-box-btn {
    padding-right: 0;
}

.brand-box-btn a {
    color: #ffffffe0;
    background-color: #000;
    min-height: 183px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    min-height: 130px;
    font-size: 16px;
    letter-spacing: 0;
}

.brand-box-btn a:hover {
    color: #fff;
    text-decoration: underline;
    background: #000000bf;
}


/* ******************************
:: 00.0  LATEST WORKS CSS
****************************** */

.latest-works {
    padding: 50px 0 150px;
}

.latest-head h2 {
    position: relative;
    color: #000;
    font-size: 30px;
    margin-bottom: 70px;
    font-weight: 600;
    font-size: 26px;
}

.latest-head h2::before {
    position: absolute;
    content: "";
    background-color: #00000042;
    height: 1px;
    width: 80%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.work-slider .item-box {
    flex: 0 0 48%;
}

.work-slider .item-box .name {
    margin: 15px 0;
}

.work-slider .item-box .name h3 {
    color: #000;
    font-weight: 500;
    font-size: 25px;
    font-size: 20px;
}

.work-slider .item-box .name p {
    font-weight: 600;
    color: #333333ad;
    font-size: 18px;
    font-size: 15px;
}

.work-slider .owl-nav button {
    background: #fff;
    border: 1px solid #4e4e4e !important;
    height: 70px;
    width: 70px;
    border-radius: 50% !important;
    margin-right: 10px;
    height: 55px;
    width: 55px;
}

.work-btn {
    position: relative;
}

.work-btn::before {
    position: absolute;
    content: "";
    background-color: #00000042;
    height: 1px;
    width: 75%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.work-btn a {
    color: #ffffffe0;
    background-color: #000;
    border-radius: 15px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 45px 55px;
    padding: 35px 45px;
    font-size: 16px;
}

.work-btn a:hover {
    color: #fff;
    text-decoration: underline;
    background: #000000bf;
}

.work-slider .owl-nav {
    position: relative;
    z-index: 10;
    max-width: 170px;
    left: 4%;
    top: 46px;
    background: #fff;
    text-align: center;
    padding-left: 5px;
}


/* ******************************
:: 00.0  ABOUT AREA CSS
****************************** */

.about-area {
    background: #000;
}

.about-inner h2 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 30px;
}

.about-inner .big-para {
    color: #ffffffde;
    font-weight: 400;
    line-height: 35px;
    font-size: 18px;
    margin-bottom: 65px;
    max-width: 1200px;
    font-size: 16px;
}

.bottom-about .logo {
    flex: 0 0 22%;
}

.bottom-about .logo img {
    max-width: 155px;
}

.bottom-about .content {
    flex: 0 0 46%;
}

.bottom-about .content p {
    color: #fff;
    font-size: 15px;
}

.bottom-about .content h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    line-height: 1;
    font-size: 38px;
}

.bottom-about .about-btn {
    flex: 0 0 30%;
}

.bottom-about .about-btn a {
    color: #000;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 45px 55px;
    font-size: 16px;
    padding: 30px 35px;
}

.bottom-about .about-btn a:hover {
    background-color: #000;
    color: #fff;
}


/* ******************************
:: 00.0  CLIENTS AREA CSS
****************************** */

.clients-area {
    background: #fff;
}

.client-head h2 {
    color: #000;
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: 500;
}

.client-box {
    border: 1px solid #0000002e;
    flex: 0 0 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
}

.client-box-1 {
    border-top: none;
    border-left: none;
}

.client-box-2 {
    border-top: none;
}

.client-box-3 {
    border-top: none;
    border-right: none;
}

.client-box-4 {
    border-left: none;
}

.client-box-5 {
    border-right: none;
}

.client-box-6 {
    border-left: none;
    border-bottom: none;
}

.client-box-7 {
    border-bottom: none;
}

.client-box-btn {
    border: none;
}

.client-box-btn a {
    min-height: 150px;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

.client-box-btn a:hover {
    text-decoration: underline;
}


/* ******************************
:: 00.0  TESTIMONIALS AREA CSS
********************************* */

.testi-area {
    background: #f0f0f0;
    padding-bottom: 130px;
}

.test-head h2 {
    color: #000;
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: 500;
}

.item-testi {
    position: relative;
    background: #fff;
    padding: 50px 110px;
    padding: 40px;
}

.item-testi .img {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.item-testi .img img {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin: 0 auto;
    height: 100px;
    width: 100px;
}

.item-testi .img::before {
    position: absolute;
    content: "";
    background-color: #00000047;
    height: 1px;
    width: 30%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.item-testi .img::after {
    position: absolute;
    content: "";
    background-color: #00000047;
    height: 1px;
    width: 30%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.item-testi .text p {
    color: #000;
    line-height: 40px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 33px;
    line-height: 28px;
    font-size: 16px;
}

.item-testi .details h4 {
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
}

.item-testi .details p {
    color: #000;
    font-weight: 500;
    font-size: 16px;
}

.item-testi .details span {
    font-size: 14px;
    font-weight: 500;
    color: #000000ba;
}

.testi-slider .owl-dots {
    position: relative;
    text-align: center;
    top: 50px;
}

.testi-slider .owl-dots button {
    background-color: #bdbdbd;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 10px;
}

.testi-slider .owl-dots button.active {
    background-color: #000;
}


/* ******************************
:: 00.0  CONTACT AREA CSS
****************************** */

.contact-section {
    padding: 55px 0 60px;
}

.img-contact img {
    width: 100%;
}

.form-area-contact {
    background-color: #000;
    padding: 30px 100px;
    padding: 30px 50px;
}

.bg-black {
    background-color: #000;
    display: flex;
    align-items: center;
}

.form-area-contact .form-title h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}

.form-area-contact .form-control {
    border: 1px solid #fff;
    background: #000;
    color: #fff;
    height: 45px;
    height: 37px;
}

.form-area-contact input::placeholder {
    color: #fff;
}

.form-area-contact input[type="submit"] {
    background-color: #fff;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
}


/* ******************************
:: 00.0  FOOTER AREA CSS
****************************** */

.copy-right {
    padding: 50px 0;
    border-top: 1px solid #ddd;
}

.copy-right .logo img {
    width: 150px;
}

.copy-right p,
.copy-right p a {
    color: #000;
    font-weight: 500;
    font-size: 16px;
    font-size: 15px;
}


/* ******************************
:: 00.0  FAQ AREA CSS
****************************** */

.faq-area {
    background: #f0f0f0;
    padding: 50px 0 80px;
}

.faq-head h1 {
    color: #000;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 500;
}

.faq-head p {
    color: #000;
    font-weight: 500;
    font-size: 16px;
}

.faq-head {
    margin-bottom: 50px;
}

.faq-accrodion {
    margin-top: 8px;
}

.faq-accrodion .accrodion {
    position: relative;
    transition: all 0.4s ease;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
}

.faq-accrodion .accrodion.active {
    box-shadow: 0px 40px 40px 0px rgb(14 17 51 / 10%);
}

.faq-accrodion .accrodion::before {
    content: "";
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: 0px;
    right: 0px;
    border-radius: 0px;
    transform: scaleX(0);
    background-image: linear-gradient(90deg, var(--thm-primary) 0%, var(--thm-base) 100%);
    border-radius: 5px;
    transition: transform 0.4s ease;
}

.faq-accrodion .accrodion.active::before {
    transform: scaleX(1);
}

.faq-accrodion .accrodion .accrodion-inner {
    background-color: #fff;
    padding: 18px 0;
    border-style: solid;
    border-width: 1px;
    border-color: #f2f4f8;
    border-radius: 0px;
    position: relative;
    transition: all 0.4s ease;
    overflow: hidden;
}

.faq-accrodion .accrodion.active .accrodion-inner {
    margin: 0 1px;
    background-color: transparent;
    border-color: #fff;
}

.faq-accrodion .accrodion .accrodion-title {
    padding: 0px 38px;
    cursor: pointer;
    position: relative;
    transition: all 0.4s ease;
}

.faq-accrodion .accrodion.active .accrodion-title {
    padding-bottom: 0;
}

.faq-accrodion .accrodion .accrodion-title::before {
    content: "+";
    /* font-family: "Font Awesome 5 Free"; */
    font-weight: 600;
    font-size: 16px;
    color: #000;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    opacity: 1;
    transition: all 500ms ease;
    height: 40px;
    width: 40px;
    background: #eef4fe;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.faq-accrodion .accrodion.active .accrodion-title::before {
    opacity: 0;
}

.faq-accrodion .accrodion .accrodion-title h4 {
    margin: 0;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    font-size: 17px;
    font-weight: 500;
}

.faq-accrodion .accrodion .accrodion-title::after {
    content: "-";
    font-weight: 600;
    /* font-family: "Font Awesome 5 Free"; */
    font-size: 16px;
    color: #fff;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    opacity: 0;
    transition: all 500ms ease;
    background: #000;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.faq-accrodion .accrodion.active .accrodion-title::after {
    opacity: 1;
    color: #fff;
}

.faq-accrodion .accrodion .accrodion-content .inner {
    padding: 0 38px;
    padding-right: 35px;
    padding-top: 22px;
    padding-bottom: 0px;
}

.faq-accrodion .accrodion .accrodion-content p {
    margin: 0;
    color: #505056;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    font-size: 15px;
}

.faq-text {
    margin-top: 60px;
}

.faq-text a {
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 15px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 30px 55px;
    padding: 22px 50px;
    font-size: 16px;
}

.faq-text a:hover {
    color: #fff;
    background: #000000bf;
}

.d-md-block-575 {
    display: none;
}


/* @media(min-width: 575px) {
    .d-md-none {
        display: block;
    }
} */


/* ******************************
:: 00.0  AREA CSS
****************************** */